<h1>{{title}}</h1>
Count: {{count}}
<button (click)="addOne()">Add one</button>
<!-- {{ color ?? 'green' }} -->
{{color}}
<ul [style.color]="color ? color : 'green'">
  <li>{{c.firstName}}</li>
  <li>{{c.active}}</li>
</ul>
<button (click)="toggle()">Toggle</button>

<div class="cursor" (click)="divClick($event)">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolore et eum, libero obcaecati voluptate voluptatem! Adipisci asperiores aut deleniti, ducimus eaque id magnam odit optio porro, quasi quod tempora?
</div>

<p [ngClass]="classList">Blorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias eligendi eum illo natus non quam quia sequi sunt vel. Architecto consectetur deleniti ex expedita impedit omnis pariatur quas veniam.</p>

<input type="text" [(ngModel)]="c.firstName" >


<select [(ngModel)]="color" >
  <option value="">Make a choice</option>
  <option value="orange">Orange</option>
  <option value="blue">Blue</option>
  <option value="yellow">Yellow</option>
  <option value="#FFCC00">Yellowish</option>
</select>
{{selectValue}}

<p [ngClass]="computeStyle()">
  {{s.ca}}
</p>

<app-main-parent></app-main-parent>

<p class="my-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at, beatae eligendi esse facilis repellat repellendus reprehenderit similique? Aliquid aspernatur blanditiis eligendi eum ipsam iste laborum odit perspiciatis sint voluptates.</p>
<p id="my-another-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at, beatae eligendi esse facilis repellat repellendus reprehenderit similique? Aliquid aspernatur blanditiis eligendi eum ipsam iste laborum odit perspiciatis sint voluptates.</p>
